CREATE DATABASE [DAL.Models.SpendingManagerDBContext]
USE [DAL.Models.SpendingManagerDBContext]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/7/2025 4:10:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Budget]    Script Date: 1/7/2025 4:10:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Budget](
	[BudgetID] [int] IDENTITY(1,1) NOT NULL,
	[AmountLimit] [decimal](18, 2) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[UserID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[BudgetName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Budget] PRIMARY KEY CLUSTERED 
(
	[BudgetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 1/7/2025 4:10:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[CategoryType] [int] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Goals]    Script Date: 1/7/2025 4:10:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goals](
	[GoalID] [int] IDENTITY(1,1) NOT NULL,
	[GoalName] [nvarchar](100) NOT NULL,
	[TargetAmount] [decimal](18, 2) NOT NULL,
	[CurrentAmount] [decimal](18, 2) NOT NULL,
	[DueDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Goals] PRIMARY KEY CLUSTERED 
(
	[GoalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 1/7/2025 4:10:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[StartAReportDate] [datetime] NOT NULL,
	[EndAReportDate] [datetime] NOT NULL,
	[TotalIncome] [decimal](18, 2) NOT NULL,
	[TotalExpense] [decimal](18, 2) NOT NULL,
	[ReportDetails] [nvarchar](max) NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Report] PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 1/7/2025 4:10:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionName] [nvarchar](100) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[UserID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Transaction] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 1/7/2025 4:10:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](15) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryType], [UserID]) VALUES (2, N'Thu Nhập', 0, 1)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryType], [UserID]) VALUES (3, N'Chi Tiêu', 1, 1)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryType], [UserID]) VALUES (18, N'Thu Nhập', 0, 9)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Goals] ON 

INSERT [dbo].[Goals] ([GoalID], [GoalName], [TargetAmount], [CurrentAmount], [DueDate], [Status], [UserID]) VALUES (16, N'Mua Bạc CHo Mẹ', CAST(1000000.00 AS Decimal(18, 2)), CAST(135000.00 AS Decimal(18, 2)), CAST(N'2025-01-07T11:36:22.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Goals] OFF
GO
SET IDENTITY_INSERT [dbo].[Report] ON 

INSERT [dbo].[Report] ([ReportID], [StartAReportDate], [EndAReportDate], [TotalIncome], [TotalExpense], [ReportDetails], [UserID]) VALUES (1, CAST(N'2025-01-06T00:00:00.000' AS DateTime), CAST(N'2025-01-06T00:00:00.000' AS DateTime), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'asdad', 1)
INSERT [dbo].[Report] ([ReportID], [StartAReportDate], [EndAReportDate], [TotalIncome], [TotalExpense], [ReportDetails], [UserID]) VALUES (2, CAST(N'2025-01-06T00:00:00.000' AS DateTime), CAST(N'2025-01-06T00:00:00.000' AS DateTime), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'dsffs', 1)
SET IDENTITY_INSERT [dbo].[Report] OFF
GO
SET IDENTITY_INSERT [dbo].[Transaction] ON 

INSERT [dbo].[Transaction] ([TransactionID], [TransactionName], [Amount], [Date], [Note], [UserID], [CategoryID]) VALUES (69, N'Lương', CAST(3000000.00 AS Decimal(18, 2)), CAST(N'2025-01-07T10:34:46.680' AS DateTime), N'Beaff steak 100k', 1, 2)
INSERT [dbo].[Transaction] ([TransactionID], [TransactionName], [Amount], [Date], [Note], [UserID], [CategoryID]) VALUES (71, N'Tiền Thường Project', CAST(500000.00 AS Decimal(18, 2)), CAST(N'2025-01-07T10:38:13.867' AS DateTime), N'sếp Huy thưởng 500k vì lười nhát trong đồ án không hoàn thành đúng hẹn', 1, 2)
INSERT [dbo].[Transaction] ([TransactionID], [TransactionName], [Amount], [Date], [Note], [UserID], [CategoryID]) VALUES (72, N'Coffee', CAST(45000.00 AS Decimal(18, 2)), CAST(N'2025-01-07T10:39:12.657' AS DateTime), N'ra làm bài và Ly cà phê sữa rất ngọt', 1, 3)
SET IDENTITY_INSERT [dbo].[Transaction] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Username], [Password], [FullName], [Email], [Phone], [CreatedDate]) VALUES (1, N'Quanghuy2104', N'21042004', N'Nguyen Quang Huy', N'huy@gmail.com', N'08364657884', CAST(N'2025-01-03T01:30:48.617' AS DateTime))
INSERT [dbo].[User] ([UserID], [Username], [Password], [FullName], [Email], [Phone], [CreatedDate]) VALUES (7, N'sfsf', N'sdfs', N'sdffs', N'sdfs', N'sdfsf', CAST(N'2025-01-07T10:09:23.667' AS DateTime))
INSERT [dbo].[User] ([UserID], [Username], [Password], [FullName], [Email], [Phone], [CreatedDate]) VALUES (8, N'sfsfsfd', N'123', N'sdffs', N'sdfs', N'sdfsf', CAST(N'2025-01-07T10:09:45.870' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Budget] ADD  DEFAULT ('') FOR [BudgetName]
GO
ALTER TABLE [dbo].[Budget]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Budget_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Budget] CHECK CONSTRAINT [FK_dbo.Budget_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[Budget]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Budget_dbo.User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Budget] CHECK CONSTRAINT [FK_dbo.Budget_dbo.User_UserID]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Categories_dbo.User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_dbo.Categories_dbo.User_UserID]
GO
ALTER TABLE [dbo].[Goals]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Goals_dbo.User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Goals] CHECK CONSTRAINT [FK_dbo.Goals_dbo.User_UserID]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Report_dbo.User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_dbo.Report_dbo.User_UserID]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transaction_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_dbo.Transaction_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transaction_dbo.User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_dbo.Transaction_dbo.User_UserID]
GO
